# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyA5WjT-5yT5F-G78eRkNkQ1TXbcuBtJJc0
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0045463980.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0045463980
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0045463980.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=585440831744
VITE_FIREBASE_APP_ID=1:585440831744:web:724f214adfb0f5f6b0abe5

# AI Configuration
GEMINI_API_KEY=AIzaSyD9nE5_gvH98HDdkUT982bi_kz54nMI1_w
OPENAI_API_KEY=
